@import './fonts';
* {
	box-sizing: border-box;
	font-family: 'Roboto';
}
  
html {
	--bg: #efefef;
	--fg: #1e1e1e;
	background-color: var(--bg);
	color: var(--fg);
	font-size: calc(0.9em + 0.5vw);
	line-height: 1.3;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .15s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

.loading-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.page {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 100vh;
	padding-top: 100px;
}

main {
	margin: 0 auto;
	width: 80%;
}

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto mono';
	margin: 0;
}

a,
.link {
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
}

textarea:focus {
	outline: none;
}

button, input {
	font: inherit;
	outline: none;
}

.main-btn {
	background-color: #2d0949;
	border: 2px solid #000;
	color: #efefef;
	cursor: pointer;
	padding: 0.3em 0.75em;
	transition: background-color .1s ease-in-out;
	min-width: 150px;
	text-align: center;

	span {
		color: #efefef;
	}

	&:hover {
		color: #000;
		background-color:rgba(92, 233, 188, 1);

		span {
			color: #000;
		}
	}

	&:focus {
		background-color:rgba(92, 233, 188, 1);
	}

	&:disabled {
		box-shadow: none;
		background-color: rgba(58, 31, 79, .4);
		color: #000;
		cursor: not-allowed;
		transform: none;

		&:hover {
			background-color: rgba(58, 31, 79, .4);
			color: #000;
	
			span {
				color: #000;
			}
		}
	
	}
}
@keyframes loader {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}

fieldset {
	border: none;
	padding: 2em 0;
}

input {
	background-color: var(--shadow);
	border: none;
	border-radius: 5px 0 0 5px;
	caret-color: var(--primary);
	color: inherit;
	padding: 0.25em 1em;
}
input::selection {
	background-color: var(--secondary);
	color: #efefef;
}
input:focus {
	box-shadow: 0 0 10em rgba(0, 0, 0, 0.02) inset;
}

li {
	padding-bottom: 1em;
}

.vue-notification-group {
	width: 370px!important;
	top: 20px!important;
}
  
.vue-notification-group .vue-notification {
	padding: 10px;
	margin: 0 5px 5px;
	font-size: 18px;
	color: #ffffff;
	background: #44A4FC;
	border-left: 5px solid #187FE7;
	&.warn {
		background: #ffb648;
		border-left-color: #f48a06;
	}
	&.error {
		background: #E54D42;
		border-left-color: #B82E24;
	}
	&.success {
		background: #68CD86;
		border-left-color: #42A85F;
	}
}

.home-text__inner__subtext {
	font-size: 24px;
}

.form-nft {
  display: flex;
  margin-bottom: 20px;
}

.form-ntf__inputs {
	margin: 0 10px;
}

.form-nft__input {
  width: 100%;
  margin-bottom: 15px;
	background: #fff;
	padding: 5px 10px;
	border: 0;
	font-size: 20px;
}

.form-nft__textarea {
	min-height: 135px;
}

.form-nft__input:last-child {
  margin-bottom: 0;
}
